<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <a href="{% url 'crear_producto' %}">Agregar nuevo producto</a>
    <ul>
        {% for producto in productos %}
            <li>
                {{ producto.nombre }} - {{ producto.precio }}
                <a href="{% url 'actualizar_producto' producto.id %}">Editar</a>
                <a href="{% url 'eliminar_producto' producto.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
